@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');




body{
    background-color: black;
    font-family:Indie Flower;
}

header{
    background-color: orange ; 
    margin: 0%;
    text-align:center; 
    padding: 0;
    display:block;
    flex-direction: column;
    align-self: stretch;
}

.nav{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid blue;
    box-shadow: 5px 0 10px blue;
}

.img-carrito{
    width: 30px;
    border-radius: 30px;
}

.nav-item {
    display: flex;
    list-style: none;
}

.nav-item  a{
    color: antiquewhite;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}
.nav-item img{
    width: 30px;
}

.nav-item:hover  {
    background-color:rgba(8, 69, 75, .3 );
    transition: .4s;
    border-radius: 10px;
    box-shadow: 5px 0 10px #0e4155;
}


/*------------main------------*/


.main{
    display: block;
    text-align: center;
    margin:10px  30px;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.title{
    text-align: center;
    color:  rgba(8, 69, 75, .3 );
    font-size:60px; 
    margin:10px  30px; 
    text-shadow: #2090ac 5px 10px;
}


